<header class="sticky top-0 z-50 bg-[#9b32e2] text-xl">
  <div class="max-w-8xl mx-auto px-10 h-16 flex items-center justify-between lg:justify-around">
    <div class="flex items-center">
      <img class="w-14" src="/logo.png" alt="logo">
      <a href="/" title="QuímicaLab" class="font-bold">QuímicaLab</a>
    </div>
    <nav class="hidden md:flex gap-6">
      <button class="hover:opacity-80 cursor-pointer" (click)="navigate.emit('inicio')">Inicio</button>
      <button class="hover:opacity-80 cursor-pointer" (click)="navigate.emit('servicios')">Servicios</button>
      <button class="hover:opacity-80 cursor-pointer" (click)="navigate.emit('contacto')">Contacto</button>
    </nav>
    <button class="px-5 py-1 rounded-xl border md:ml-6 hover:bg-white hover:text-[#9b32e2]" (click)="toggleTheme()">Tema</button>
  </div>
</header>
