<div class="absolute bg-neutral-950  saturate-[120%] overflow-hidden inset-0 liquid">
    <div class="absolute w-[48rem] h-[48rem] mix-blend-screen opacity-[0.55] animate-[float_18s_ease-in-out_infinite] rounded-full blob b1"></div>
    <div class="absolute w-[48rem] h-[48rem] mix-blend-screen opacity-[0.55] animate-[float_18s_ease-in-out_infinite] rounded-full blob b2"></div>
    <div class="absolute w-[48rem] h-[48rem] mix-blend-screen opacity-[0.55] animate-[float_18s_ease-in-out_infinite] rounded-full blob b3"></div>
    <div class="absolute w-[48rem] h-[48rem] mix-blend-screen opacity-[0.55] animate-[float_18s_ease-in-out_infinite] rounded-full blob b4"></div>
</div>